.notas-container {
  display: flex;
  flex-direction: row;
}

app-sidebar {
  flex-shrink: 0; /* Sidebar tiene un tamaño fijo */
}

.navigation {
  margin-bottom: 20px; /* Espaciado inferior para separar de la lista de usuarios */
}

/* Agregar este estilo para eliminar el espacio adicional en la parte inferior */
ion-content {
  --background: transparent; /* Evita el color de fondo predeterminado */
  height: calc(
    100% - 56px
  ); /* Ajusta la altura, considerando la altura del header */
}

.navigation ion-icon {
  font-size: 24px; /* Ajusta el tamaño del icono */
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.navigation ion-button {
  display: flex;
  align-items: center;
  padding: 8px 12px; /* Ajusta el espacio interno del botón */
  margin-right: 10px; /* Espacio entre los botones */
}

.navigation ion-col {
  display: flex;
  justify-content: center; /* Centra los elementos dentro de la columna */
  align-items: center;
}

.notas-content {
  flex-grow: 1; /* El contenido ocupará todo el espacio restante */
  padding: 20px;
  background-color: #3532325d; /* Color de fondo para el contenido del Dashboard */
}

.filter-container {
  display: flex;
  align-items: center; /* Centra verticalmente el select y el label */
}

.filter-container ion-select {
  width: auto; /* Asegura que el select solo ocupe el espacio necesario */
  margin-left: 15px; /* Espacio entre el select y el label */
}
